* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu {
  background-color: lightskyblue;
  border: 1px solid;
  width: 600px;
  margin: 0 auto;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
li {
  list-style-type: none;
}
.block1 {
  height: 40px;
  border: 1px solid white;
}
.block2 {
  height: 40px;
  border: 1px solid white;
}
.block3 {
  height: 96px;
  border: 1px solid white;
  text-align: center;
}
.block4 {
  height: 40px;
  border: 1px solid white;
}
a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: white;
}
a:hover {
  background-color: white;
  color: lightskyblue;
}
